<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.orders.title' | translate }}</h1>

    <div class="actions">
      <a mat-raised-button class="actions-main" color="primary" (click)="onFetchOrders()">
        {{ 'stms.orders.get-orders' | translate }}
      </a>
    </div>

    <div class="orders-list">

      <mat-card *ngFor="let order of orders$ | async">

        <mat-card-title>
          <code>
            {{order?.orderNum}}
          </code>
          {{order?.orderName}}
        </mat-card-title>

        <mat-card-subtitle>
          {{order?.physician?.name}}
        </mat-card-subtitle>

        <mat-card-actions>
          <div class="add-to-favorite-block">
            <a>
              <button [disabled]="order?.isInFollowedList" mat-raised-button color="primary" (click)="onAddToFollowList(order)">
                <ng-container *ngIf="!order?.isInFollowedList; else itemIsInFollowList">
                  <fa-icon icon="plus"></fa-icon>
                  <span>{{ 'stms.buttons.add-to-followed-list' | translate }}</span>
                </ng-container>
                <ng-template #itemIsInFollowList>
                  <fa-icon icon="check"></fa-icon>
                  <span>{{ 'stms.buttons.is-add-to-followed-list' | translate }}</span>
                </ng-template>
              </button>
            </a>
          </div>
        </mat-card-actions>

      </mat-card>

    </div>

  </div>
</div>
